fastapi==0.110.2
uvicorn[standard]==0.29.0
torch>=2.2.2, <2.3
opencv-python-headless>=4.10.0.0
Pillow
# сама модель как подмодуль
# при установке тащит pretrained веса (≈ 180 МБ)
"git+https://github.com/naklecha/clothing-segmentation.git"
